@import "normalize.css"; /* ✅ Tailwind보다 위에 배치 */

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    min-width: 320px;
  }
  body {
    font-family: "nanumsquare";
  }
}

@layer components {
  .nav-item {
    @apply flex h-full flex-shrink-0 cursor-pointer items-center px-7 hover:bg-bg-yellow-01/60;
  }
}

/* 스크롤바 커스텀 */
/* ::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-track {
  background: #eae9e9;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb {
  background: #c6c6c6;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #9f9f9f;
} */
